meta(charset="utf-8")
title= title || 'Template'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
link(rel="shortcut icon" type="image/png" href="img/favicon.ico")
// build:css css/libs.min.css
link(rel="stylesheet" media="all" href="css/libs.min.css")
// endbuild
// build:css css/styles.css
link(rel="stylesheet" media="all" href="css/styles.css")
// endbuild
