=calibri($weight: 300)
  font-family: 'Calibri', sans-serif
  font-weight: $weight

// variables
$screen-xs: 400px
$screen-sm: 767px
$screen-md: 1079px
$screen-lg: 1300px

$color-blue: #193863
$color-red: #ff0318

=tr($what: all 0.3s)
  transition: $what

svg path
  +tr()

// .icon-check
//   width: 11px
//   height: 10px
//   background-image: url(../img/check.png)

.cross-button
  position: absolute
  background-color: white
  border-radius: 50%
  z-index: 100
  border: none
  padding: 0
  width: 53px
  height: 53px
  right: 20px
  top: 20px
  text-align: center
  border: 1px solid #9da4aa
  +tr(all 1s)
  opacity: 0
  transform: scale(0.1)
  &.active
    opacity: 1
    transform: none
  span
    +burger(16px, 2px, 4px, #0b1c2b, 2px)
    +burger-to-cross()
    position: absolute
    left: 18px
    top: 18px

/* start inner-nav */
.inner-nav
  margin-bottom: 30px
  h3
    display: inline-block
  .links
    display: inline-block
    font-size: 19px
    margin-left: 30px
    +r($screen-sm)
      display: block
      margin-left: 0
      margin-top: 10px
    a
      display: inline-block
      font-family: 'Calibri'
      color: $color-blue
      line-height: 1
      margin: 0 20px
      font-weight: 300
      +r($screen-sm)
        margin: 4px
/* end inner-nav */

.dotted
  position: relative
  color: $color-blue
  &:after
    content: ""
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background: url(../img/i42.png) repeat-x 0 0
    width: 100%
    height: 1px
    -webkit-transition: 0.35s
    transition: 0.35s
    +tr()
  &:hover
    color: #000
  &:hover:after
    opacity: 0

.padded
  padding-left: 75px
  padding-right: 30px
  +r($screen-lg)
    padding-left: 30px
    padding-right: 30px
  +r($screen-sm)
    padding-left: 15px
    padding-right: 15px

.colored-gray
  color: #9f9f9f

.colored-red
  color: $color-red

.colored-black
  color: #000

/* start project-desc */
.project-desc
  overflow: hidden
  font-size: 17px
  padding-bottom: 50px
  background-color: #fff
  z-index: 20
  position: relative
  +calibri()
  td
    height: 34px
    vertical-align: top
  table
    margin-bottom: 30px
    div
      margin-bottom: 14px
  table td:first-child
    width: 150px
  &-text
    color: #707070
    line-height: 1.8
    margin-bottom: 20px
    font-size: 15px
    max-width: 600px

/* end project-desc */

.ruble
  position: relative
  &:after
    content: ""
    position: absolute
    top: 0.56em
    left: -2px
    right: 0
    margin: auto
    width: 6px
    height: 1px
    background: black

.btn
  border: 1px solid #dbdbdb
  padding: 0 20px
  height: 38px
  line-height: 36px
  color: #1f1f1f
  background-color: transparent
  +calibri()
  .text
    display: inline-block
    vertical-align: middle
    font-size: 15px
    font-weight: 300
  .ic
    display: inline-block
    vertical-align: middle
    margin-left: 10px
    line-height: 1
    svg
      display: block
      path
        fill: $color-blue
  &:hover
    border-color: darken(#dbdbdb, 20%)
    color: $color-blue
  &-action
    height: 40px
    line-height: 38px
    border-color: #f60304
    &:hover
      border-color: darken(#dbdbdb, 50%)
      svg path
        fill: #f60304
    .text
      font-size: 17px

/* start why */
.filter-inner
  padding-top: 50px
  padding-bottom: 30px
  border-top: 1px solid #ededed
  border-bottom: 1px solid #ededed
  box-shadow: 0 0 10px 0 rgba(black, 0.1)
  background-color: #fff
  z-index: 10
  .top
    position: relative
    margin-bottom: 10px
    max-width: 1230px
  .follow-price-link
    font-size: 16px
    font-weight: 300
    font-style: italic
    position: absolute
    right: 0
    top: 8px
    .dotted
      color: #f60304
      margin-left: 10px
      &:after
        background-image: url(../img/i79.png)
  .adv_search
    position: relative
    background: none
    border: 0
    padding-left: 25px
    margin-left: 30px
  .adv_search:after
    content: ""
    position: absolute
    top: 10px
    left: 4px
    width: 7px
    height: 1px
    background: #1a1a1a
    margin: auto
    +tr()
  .adv_search:before
    content: ""
    position: absolute
    top: 7px
    left: 7px
    width: 1px
    height: 7px
    margin: auto
    background: #1a1a1a
    display: inline-block
    -webkit-transition: 0.35s
    -o-transition: 0.35s
    transition: 0.35s
    +tr()
  .adv_search.open:before
    height: 0
    width: 0
    margin: auto
    display: inline-block
    -webkit-transition: 0.35s
    -o-transition: 0.35s
    transition: 0.35s
  .adv_search .dotted
    font: 300 15px/15px 'Calibri'
    position: relative
    display: inline-block
  .adv_search .dotted:before
    content: ""
    width: 19px
    height: 19px
    -webkit-border-radius: 100%
    border-radius: 100%
    border: 1px solid #1a1a1a
    position: absolute
    top: -3px
    left: -27px
  .adv_search .dotted:after
    content: ""
    background: url(../img/dt.png) repeat-x 0 0
    width: 100%
    height: 1px
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    margin: auto
    top: auto
    -webkit-transition: 0.35s
    -o-transition: 0.35s
    transition: 0.35s
  .adv_search
    &:hover
      &:before, &:after
        background-color: #ff051a
      .dotted
        color: #000
        &:before
          border-color: #ff051a
        &:after
          width: 0
          -webkit-transition: 0.35s
          -o-transition: 0.35s
          transition: 0.35s
/* end why */

.filter-block
  margin: 10px 40px 10px 0
  width: 232px
  display: inline-block
  vertical-align: bottom
  .ttl
    font: 300 16px/16px 'Calibri'
    color: #353535
    margin: 0 0 6px
    span
      color: #c8c8c8
    button
      background: transparent
      border: 0
      font: 300 16px/16px 'Calibri'
      color: $color-blue
      position: relative
      margin-right: 4px
      &:hover:after
        width: 0
        -webkit-transition: 0.35s
        -o-transition: 0.35s
        transition: 0.35s
      &:after
        content: ""
        background: url(../img/i42.png) repeat-x 0 0
        width: 100%
        height: 1px
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        margin: auto
        top: auto
        -webkit-transition: 0.35s
        -o-transition: 0.35s
        transition: 0.35s
      &.active
        color: #353535
        &:after
          display: none
  .row_in
    -webkit-border-radius: 3px
    border-radius: 3px
    position: relative
    font-size: 0
    input
      display: inline-block
      border: 0
      border-radius: 3px 0 0 3px
      padding: 7px 10px 8px
      font: 300 15px/15px 'Calibri'
      color: #a9a9a9
      width: 50%
      border: 1px solid #bbbbbb
      margin-right: -1px
      &:first-child
        -webkit-border-radius: 3px 0 0 3px
        border-radius: 3px 0 0 3px
        border-right: 1px solid #e7e7e7
      &:nth-child(2)
        padding-right: 25px
        border-radius: 0 3px 3px 0
      &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder
        color: #a9a9a9
        font: 300 15px/15px 'Calibri'
      &:focus
        border-color: #9d9d9d
        &::placeholder
          color: #000
    .ru
      position: relative
      display: inline
      font: normal 17px/17px 'Calibri'
      font-weight: 300
      color: #8f8f8f
      position: absolute
      right: 13px
      top: 9px
      &:before
        content: ""
        position: absolute
        top: 10px
        left: -2px
        right: 0
        margin: auto
        width: 6px
        height: 1px
        background: #8f8f8f
  .group_btn
    margin: 0 0 0
    font-size: 0
  .group_btn button
    background: #fff
    border: 1px solid #cfcfcf
    -webkit-border-radius: 3px
    border-radius: 3px
    color: #606060
    font: 300 16px/16px 'Calibri'
    width: 39px
    height: 35px
    margin: 0 9px 0 0
  .group_btn button:last-child
    margin-right: 0
  .group_btn button.active,
  .group_btn button:hover
    border-color: #9d9d9d
    color: #000
    z-index: 3
    position: relative
  .trio_btn
    .gb
      border-radius: 0
      margin: 0
      margin-right: -1px
      &:nth-child(1)
        width: 62px
        border-radius: 3px 0 0 3px
      &:nth-child(2)
        width: 58px
      &:nth-child(3)
        width: 109px
        border-radius: 0 3px 3px 0
  .selectize-input
    padding-top: 7px
  .css-label
    margin-bottom: 9px
  &-select
    position: relative
    top: 5px

.filter-results
  display: inline-block
  vertical-align: middle
  margin: 10px 0
  .btn
    height: 35px
    line-height: 33px
    .text
      font-size: 15px

.js-filter-toggle
  display: none

.filter-sort-buttons
  margin-top: 40px
  button
    background-color: transparent
    border: none
    padding-right: 60px
    position: relative
    &:after
      content: ''
      width: 1px
      height: 14px
      margin-top: -7px
      position: absolute
      background-color: #d8d8d8
      right: 30px
      top: 50%
    &:last-child:after
      display: none
    &.active
      .dotted
        color: #000
        &:after
          opacity: 0
/* start projects-table */
.projects-table
  max-width: 1400px
  padding-top: 30px
  padding-bottom: 40px
  table
    width: 100%
    font-size: 17px
    +calibri()
    th
      font-size: 16px
      color: #353535
      font-weight: 300
    tr
      border-bottom: 1px solid #ededed
      &:last-child
        border: none
    td
      height: 60px
      padding: 4px 5px 0
      vertical-align: middle
      white-space: nowrap
      +calibri()
      &:first-child
        .colored-gray
          font-size: 15px
  span
    white-space: nowrap
  &-area
    .colored-gray
      margin-right: 14px
  &-price
    color: #193863
    display: inline-block
    font-size: 17px
  .colored-black
    font-size: 15px
  .icon-stuff
    margin-top: -4px
    margin-left: 6px
  .labeled
    position: relative
    &:after
      content: attr(data-text)
      height: 13px
      text-align: center
      min-width: 26px
      font-size: 10px
      font-weight: 400
      background: url(../img/label-white-red.png) no-repeat center / 100% 100%
      font-size: 11px
      color: #000
      position: absolute
      right: 0
      top: -16px
      padding-left: 4px
      padding-right: 4px
  .bottomline
    margin-top: 20px
    text-align: center
    svg path
      fill: $color-red
  .js-table-toggle
    svg
      +tr()
    &.active
      svg
        transform: rotate(-180deg)
  .js-table-wrap
    max-height: 322px
    overflow-y: hidden
.projects-circle
  width: 32px
  height: 32px
  display: inline-block
  vertical-align: middle
  margin-left: 10px
  margin-right: 16px
  position: relative
  font-size: 10px
  font-weight: 400
  text-align: center
  color: #353535
  padding-top: 10px
  canvas
    top: 0
    left: 0
    position: absolute

/* end projects-table */

.icon-stuff
  width: 13px
  height: 13px
  display: inline-block
  vertical-align: middle
  background-image: url(../img/icon-stuff.svg)
  vertical-align: middle

.table-responsive
  min-height: .01%
  overflow-x: auto

/* start ipoteka */
.ipoteka
  background-color: #f3f3f3
  padding-top: 50px
  padding-bottom: 50px
  +r(1700px)
    text-align: center
  .logos
    max-width: 1526px
    padding-bottom: 30px
    border-bottom: 1px solid #e0e0e0
    text-align: center
  &-logo
    display: inline-block
    vertical-align: middle
    padding: 10px 40px
    position: relative
    +r($screen-lg)
      padding-left: 20px
      padding-right: 20px
    &:after
      content: ''
      width: 1px
      height: 14px
      margin-top: -7px
      position: absolute
      background-color: #d8d8d8
      right: 0
      top: 50%
    &:last-child:after
      display: none
  h3
    text-align: center
    margin-bottom: 24px
  .group
    padding-left: 20px
    padding-top: 20px
    +r(1700px)
      padding-left: 0
  &-overall
    display: inline-block
    vertical-align: top
    margin: 20px 40px
    text-align: left
    +calibri()
    p
      font-size: 16px
      color: #353535
      margin-bottom: 24px
    h3
      font-size: 43px
    .ruble
      display: inline-block
    .ruble:after
      top: 0.52em
      width: 10px
      right: auto
      left: 3px
      height: 2px
      margin: 0
  .bottomline
    text-align: center
    margin-top: 18px
    .btn
      font-size: 19px
      line-height: 34px
/* end ipoteka */

.container
  max-width: 1425px

.range-block
  width: 235px
  text-align: left
  display: inline-block
  vertical-align: top
  margin: 20px 40px 20px
  +calibri()
  p
    font-size: 16px
    color: #353535
    margin-bottom: 10px
  .range-input-wrap
    padding-bottom: 10px
    position: relative
  .js-triangle
    +arr(8, 4, white, b)
    position: absolute
    bottom: 6px
    left: 0
    transform: translateX(2px)
    &:before
      content: ''
      width: 10px
      height: 10px
      border-radius: 50%
      box-sizing: 0 0 10px 0 rgba(black, 0.1)
      position: absolute
  input
    height: 33px
    border: none
    padding-left: 12px
    padding-right: 12px
    font-size: 17px
    color: #000
    width: 138px
    box-shadow: 0 0 10px 0 rgba(black, 0.1)
    position: relative
  .labels
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    font-size: 13px
    color: #9f9f9f

.project-info
  display: -webkit-flex
  display: -ms-flex
  display: flex
  +calibri()
  border-bottom: 1px solid #e5e5e5
  .swiper-slide
    position: relative
  .desc-content, .project-preview-slider, .zastroy-info
    width: 50%
    +r($screen-sm)
      width: 100%
  .desc-content
    padding: 50px 120px 20px 30px
    +r(1600px)
      padding-right: 30px

    h3
      padding-bottom: 24px
      margin-bottom: 30px
    p
      font-size: 15px
      color: #707070
      line-height: 1.8
      margin-bottom: 30px
  .inner
    float: right
    max-width: 600px
    width: 100%
  .btn
    margin-top: 30px
    svg path
      fill: $color-red
  .video-js
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
  &-right
    .desc-content
      padding-right: 30px
      padding-left: 110px
      +r(1600px)
        padding-left: 30px
    .inner
      float: left
  &-zastroy
    background-color: #f7f7f7
    padding-bottom: 30px
    .desc-content
      padding-left: 0
      padding-top: 50px
      +rmin($screen-sm)
        padding-left: 10px
  &.no-border
    border: none
  .zastroy-info
    padding-left: 75px
    padding-top: 50px
    .group
      margin-top: 20px
      position: relative
      padding-left: 120px
      img
        left: 0
        top: 0
        position: absolute

.zastroy-info-list
  max-width: 315px
  +r($screen-sm)
    max-width: 290px
  li
    border-bottom: 1px solid #e6e6e6
    padding: 12px 0 8px
  .count
    font-size: 43px
    color: #000
    line-height: 1
    +calibri()
    font-weight: 400
    display: inline-block
    vertical-align: middle
    margin-right: 30px
    +r($screen-sm)
      margin-right: 10px
  .text
    display: inline-block
    color: #000
    font-size: 17px
.slide-image-bg
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%

.project-preview-slider
  min-height: 440px

.lined
  position: relative
  padding-bottom: 30px
  margin-bottom: 20px
  &:after
    content: ''
    bottom: 0
    left: 0
    position: absolute
    height: 1px
    width: 300px
    background-color: #e7e7e7

.slide-image-bg
  position: relative
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  &:after
    content: ''
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: #000
    position: absolute
    opacity: .2
    +tr(all 0.5s)
  &:hover
    &:after
      opacity: 0

.video-js
  &:after
    content: ''
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: #000
    position: absolute
    opacity: .2
    +tr(all 0.5s)
  &:hover:after,
    opacity: 0
  &.vjs-playing:after
    display: none
  button.vjs-big-play-button
    background: url(../img/play.svg) no-repeat center
    width: 44px
    height: 62px
    margin-top: -22px
    margin-left: -31px
    border: none
    z-index: 10
    +tr()
    span
      display: none
  &:hover
    button.vjs-big-play-button
      background-color: transparent
      +tr()

.project-preview-slider .swiper-pagination
  color: #fff
  bottom: 35px
  font: 300 16px/16px 'Calibri'

.project-preview-slider .swiper-button-prev
  background: none
  border: 1px solid rgba(255, 255, 255, 0.6)
  width: 35px
  height: 35px
  -webkit-background-size: auto auto
  background-size: auto
  -webkit-border-radius: 100%
  border-radius: 100%
  left: 40%
  right: auto
  top: auto
  bottom: 28px

.project-preview-slider .swiper-button-prev:after
  content: ""
  background: url(../img/slr_prev.png) no-repeat 50% 50%
  width: 17px
  height: 9px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto

.project-preview-slider .swiper-button-next
  background: none
  border: 1px solid rgba(255, 255, 255, 0.6)
  width: 35px
  height: 35px
  -webkit-background-size: auto auto
  background-size: auto
  -webkit-border-radius: 100%
  border-radius: 100%
  right: 40%
  left: auto
  top: auto
  bottom: 28px

.project-preview-slider .swiper-button-next:after
  content: ""
  background: url(../img/slr_next.png) no-repeat 50% 50%
  width: 17px
  height: 9px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto

/* start why-project */
.why-project
  text-align: center
  padding: 50px 0
  +calibri()
  h3
    margin-bottom: 40px
  .container
    max-width: 1300px
  &-item
    display: inline-block
    max-width: 320px
    width: 100%
    vertical-align: top
    position: relative
    padding: 20px 0 30px 110px
    text-align: left
    margin: 20px 0
    img
      position: absolute
      left: 0
      top: 0
    h5
      font-size: 19px
      +calibri()
    p
      color: #969696
  &-features
    background-color: #f7f7f7
    text-align: left
    .container
      max-width: 1600px
      padding-left: 75px
      padding-right: 75px
      +r($screen-lg)
        padding-left: 30px
        padding-right: 30px
      +r($screen-md)
        padding-left: 15px
        padding-right: 15px
      .group
        margin-left: -15px
        max-width: 1300px
        +rmin($screen-lg)
          margin-left: 0
      .why-project-item
        max-width: 400px
        +r($screen-lg)
          max-width: 300px
  .group
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    flex-wrap: wrap
/* end why-project */

.project-location
  display: -webkit-flex
  display: -ms-flex
  display: flex
  overflow: hidden
  +calibri()
  border-bottom: 1px solid #e5e5e5
  .btn
    margin-top: 30px
    .text
      font-size: 19px
      color: #000
  h3
    margin-bottom: 30px
  .swiper-slide
    position: relative
  .desc-content, &-map
    width: 50%
  .desc-content
    padding-top: 50px
    padding-bottom: 50px
    padding-right: 120px
  .inner
    float: right
    max-width: 600px
    width: 100%
  .ring-list
    padding-top: 20px
    margin-top: 20px
    border-top: 1px solid #ededed


  &-map
    position: relative
    #location-map, #infrastructure-map
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%

.metro-item
  position: relative
  padding-left: 20px
  padding-bottom: 7px
  &:after
    content: ''
    position: absolute
    left: 6px
    bottom: -4px
    background-color: #cdcdcd
    height: 50%
    width: 1px
  &:last-child:after
    display: none
  > img
    position: absolute
    left: 0
    top: 6px
  .metro-link
    display: inline-block
    max-width: 240px
    width: 100%
  .dotted
    font-size: 18px
  .metro-item-distance
    display: inline-block
    +r($screen-md)
      display: block
      margin-top: 3px
    .dist-by-car
      margin-left: 20px

.dist-by-foot, .dist-by-car
  font-size: 15px
  color: #a6a6a6
  position: relative
  padding-left: 20px
  &:after
    content: ""
    background: url(../img/human.png) no-repeat 0 0
    width: 11px
    height: 14px
    position: absolute
    top: -2px
    left: 0

.dist-by-car
  padding-left: 30px
  &:after
    background-image: url(../img/car.png)
    width: 20px
    height: 9px
    top: 1px

.ring-item
  position: relative
  padding-left: 20px
  padding-bottom: 7px
  .ring-link
    display: inline-block
    max-width: 235px
    width: 100%
  .dotted
    font-size: 18px
  .metro-item-distance
    display: inline-block
    +r($screen-md)
      display: block
      margin-top: 3px

/* start cnt_form */
.cnt_form
  .btn
    padding-left: 36px
    padding-right: 30px
    height: 42px
    line-height: 40px
/* end cnt_form */

.f_menu .f_list
  li a
    span.dotted
      color: $color-blue
    &:hover
      &:after
        border-color: transparent !important
      span.dotted
        color: #000

.infra-list
  li
    position: relative
    padding-left: 30px
    padding-top: 10px
    padding-bottom: 7px
    .dotted
      font-size: 19px
    img
      position: absolute
      left: 10px
      top: 50%
      transform: translate(-50%, -50%)
    .count
      margin-left: 10px
      font-size: 19px

.map-label
  width: 136px
  height: 34px
  line-height: 34px
  position: absolute
  left: 55px
  top: 55px
  z-index: 10
  background-image: url(../img/map-label.png)
  padding-left: 17px
  .text, .distance
    display: inline-block
  .text
    color: #fff
    font-weight: 700
    margin-right: 16px
    font-size: 17px
  .distance
    color: #000
    font-size: 17px
    font-weight: 400

.map-mark
  width: 47px
  height: 50px
  background-image: url(../img/map-marker.svg)
  position: relative
  img
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 3px
    margin: auto
  &.red
    background-image: url(../img/map-marker-red.svg)

.zastroy-link
  padding-left: 22px
  background: url(../img/globe.svg) no-repeat 0 center

.nomargin
  margin: 0

.docs-container
  padding-bottom: 50px
  padding-top: 1px
  &:last-child
    .docs-block
      border: 0
  h3
    margin-top: 42px
    margin-bottom: 30px
  &:nth-child(2n)
    background-color: #f7f7f7
  > .docs-block:first-of-type
    padding-top: 0
  .js-all-docs-toggle
    border-color: $color-red
  .btn
    .text
      font-weight: 400
    svg path
      fill: $color-red
    &.active
      svg
        transform: rotate(-180deg)
  .bottomline
    margin-top: 30px

.js-hidden-docs
  overflow: hidden
  height: 168px

.docs-block
  max-width: 1600px
  margin: auto
  padding-left: 75px
  padding-right: 75px
  padding-top: 30px
  padding-bottom: 30px
  border-bottom: 1px solid #cccccc
  +calibri()


.js-docs-rest
  display: none

.top-doc
  max-width: 1200px
  font-size: 17px
  position: relative
  padding-bottom: 20px
  margin-bottom: 10px
  &:after
    content: ''
    position: absolute
    width: 100%
    left: 0
    bottom: 0
    background-color: #ededed
    height: 1px
    margin-left: -24px
    margin-right: -24px
  > .dotted
    margin-bottom: 6px
    display: inline-block
    line-height: 1.1
    font-size: 19px
  .doc-item-wrap
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-wrap: wrap
    width: 100%

.top-doc, .doc-item
  max-width: 1200px
  color: #9d9d9d
  .doc-published, .date, .time
    margin-right: 26px
  .js-toggle-changes
    margin-left: -20px
    position: relative
    font-size: 15px
    &:before
      content: ''
      width: 12px
      height: 12px
      background: url(../img/pencil.svg) no-repeat center
      position: absolute
      left: -20px
      top: 50%
      margin-top: -8px

.doc-item
  padding: 10px 0
  &-wrap
    > .dotted
      line-height: 1
      margin-right: 30px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-wrap: wrap
    width: 100%
    align-items: center

.doc-rest
  margin-left: auto
  margin-right: 0
  flex-shrink: 1
  white-space: nowrap

.date
  color: #9d9d9d
  padding-left: 20px
  background: url(../img/calendar.svg) no-repeat left center
  padding-top: 4px
  margin-top: -4px
  line-height: 1

.doc-file
  display: inline-block
  white-space: nowrap
  margin-left: 35px

.doc-changes
  margin: 10px 0 10px -25px
  padding: 25px
  background-color: #f6f6f6
  font-size: 13px
  line-height: 1.5
  max-width: 750px
  display: none
  +r($screen-lg)
    margin-left: 0
