//BEGIN footer
if (footerEmpty)
  .ftr
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .clearfix.ftr_top
            .flogo
              // <a href="index.html">
              img(src='img/logo_footer.svg', alt='')
              // </a>
            .fphone
              a(href='tel:88007001072') 8 (800) 700 10 72
              a(href='tel:84957251072') 8 (495) 725 10 72
            .fcnt
              .fcnt_btn
                if (franchise)
                  a.button.button-franchise.button-icon.button-gray.fancybox(href="#choose-franchise")
                    span Выбрать франшизу
                    span.ic
                      include ../data/list.svg
                else
                  a.fancybox(href='#enter_contract') Заключить договор
    .clearfix.ftr_btm
      .fb_cnt
        ul.fb_cnt_list
          li
            .desc
              .desc_img
                img(src='img/i19.png', alt='')
              p Москва, Бережковская наберeжная, д. 20, стр. 13
          li
            .desc
              .desc_img
                img(src='img/i20.png', alt='')
              p
                | Бизнес-запрос 
                a(href='mailto:info@labquest.ru') info@labquest.ru
          li
            .desc
              .desc_img
                img(src='img/i20.png', alt='')
              p
                | Медиа-запрос 
                a(href='mailto:pr@labquest.ru') pr@labquest.ru
          li
            .desc
              .desc_img
                img(src='img/i21.png', alt='')
              p
                | Сайт 
                a(href='http://www.labquest.ru/') www.labquest.ru
        p.copyr ©АО «ЛабКвест». Все права защищены и охраняются законом
      .pt_left
      .pt_right
  #footer
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          p.copyright
            | Копирование, тиражирование, а равно иное использование материалов, размещенных на сайте 
            a(href='http://www.labquest.ru/') www.labquest.ru
            | , возможно только с письменного разрешения Правообладателя. 
            a(href='docs/Лицензия_на_осуществление_медицинской_деятельности_АО_ЛабКвест.pdf', target='_blank') Лицензия № ЛО-77-01-013785 от 19.01.2017
            | .
          p.developer
            | Креативное агентство — 
            a(href='http://www.liqium.ru/', target='_blank') Liqium
  //END footer
else
  .ftr.ftr-full
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .clearfix.ftr_top
            .flogo
              // <a href="index.html">
              img(src='img/logo_footer.svg', alt='')
              // </a>
            .fphone
              a(href='tel:88007001072') 8 (800) 700 10 72
              a(href='tel:84957251072') 8 (495) 725 10 72
            .socials
              a.social-link(href="#")
                include ../data/facebook.svg
              a.social-link(href="#")
                include ../data/twitter.svg
              a.social-link.vk(href="#")
                include ../data/vk.svg
              a.social-link(href="#")
                include ../data/instagram.svg
              a.social-link(href="#")
                include ../data/odnoklassniki.svg
    include _main-nav-footer.pug
    .clearfix.ftr_btm
      .fb_cnt
        ul.fb_cnt_list
          li
            .desc
              .desc_img
                img(src='img/i19.png', alt='')
              p Москва, Бережковская наберeжная, д. 20, стр. 13
          li
            .desc
              .desc_img
                img(src='img/i20.png', alt='')
              p
                | Бизнес-запрос 
                a(href='mailto:info@labquest.ru') info@labquest.ru
          li
            .desc
              .desc_img
                img(src='img/i20.png', alt='')
              p
                | Медиа-запрос 
                a(href='mailto:pr@labquest.ru') pr@labquest.ru
          li
            .desc
              .desc_img
                img(src='img/i21.png', alt='')
              p
                | Сайт 
                a(href='http://www.labquest.ru/') www.labquest.ru
        p.copyr ©АО «ЛабКвест». Все права защищены и охраняются законом
      .pt_left
      .pt_right
  #footer
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          p.copyright
            | Копирование, тиражирование, а равно иное использование материалов, размещенных на сайте 
            a(href='http://www.labquest.ru/') www.labquest.ru
            | , возможно только с письменного разрешения Правообладателя. 
            a(href='docs/Лицензия_на_осуществление_медицинской_деятельности_АО_ЛабКвест.pdf', target='_blank') Лицензия № ЛО-77-01-013785 от 19.01.2017
            | .
          p.developer
            | Креативное агентство — 
            a(href='http://www.liqium.ru/', target='_blank') Liqium
  //END footer
