//LOAD SCRIPTS
block scripts
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCUzkTMNpgd0SuQyESCTt5mQH5ve2tm6Ds')
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=&mode=debug")
  // build:js js/lib.min.js
  script(type="text/javascript" src="js/lib.min.js")
  // endbuild
  // build:js js/tooltip.js
  // script(type="text/javascript" src="js/tooltip.js")
  // endbuild
  // build:js js/video.min.js
  script(type="text/javascript" src="js/video.min.js")
  // endbuild
  // build:js js/ion.rangeSlider.min.js
  script(type="text/javascript" src="js/ion.rangeSlider.min.js")
  // endbuild
  // build:js js/custom.js
  script(type="text/javascript" src="js/custom.js")
  // endbuild
