//LOAD SCRIPTS
block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwVP6JlQ0C8tmJoDFh_piM3F6TMxu1n20")
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=&mode=debug")
  // build:js js/lib.min.js
  script(type="text/javascript" src="js/lib.min.js")
  // endbuild
  // build:js js/tooltip.js
  script(type="text/javascript" src="js/tooltip.js")
  // endbuild
  // build:js js/metro.js
  script(type="text/javascript" src="js/metro.js")
  // endbuild
  // build:js js/custom.js
  script(type="text/javascript" src="js/custom.js")
  // endbuild
  // build:js js/custom-new.js
  script(type="text/javascript" src="js/custom-new.js")
  // endbuild
