<div class="clearfix header">
    <div id="hmbrg" class="brg">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="hdr_menu">
        <ul class="menu">
            <li><a href="#">О компании</a></li>
            <li><a href="#">Застройщикам</a></li>
            <li class="active"><a href="#">Офисы НДВ</a></li>
        </ul>
    </div>
    <div class="hdr_my_office">
        <a href="#" class="star"></a>
        <a href="#" class="my_ofs">Мой кабинет</a>
    </div>
    <div class="hdr_phone">
        <a href="tel:84959884422">8 (495) 988-44-22</a>
        <a href="tel:88002004402"> 8 (800) 200-44-02</a>
    </div>
    <div class="hdr_request_call"><a href="#">Заказать звонок</a></div>
</div>
